
.jump {

  animation: jumpIn 2s reverse; 
}

.horizontal_move {
  animation: move 2 forwards;
}

@keyframes jumpIn {
  0%   { left:0px; top:0px;}
  100% { left:250px; top:0px;}
}

@keyframes move {
  to { transform: translateX(-100%); }
}